@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&family=Lato:wght@300;400;700&display=swap');

:root {
    --main-blue-color : #1b2b7c;
    --main-pink-color: #FB5472;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p, ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--main-blue-color);
}

body {
    margin: 0;
    padding: 0;
    font-family: Lato, arial, sans-serif;
    background: #fff;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #646A89;
    line-height: 1.7;
    background: #fff;
}

/* Main wrapper */
.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding: 0;
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    overflow: hidden;
}

/* Header */

.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
}

.fixed {
    box-shadow: 0px 0.11rem 0.22rem rgb(0 0 0 / 6%), 0px 0.22rem 0.33rem rgb(0 0 0 / 10%);
    background: rgba(255, 255, 255, 0.99);
}

/* Header - Header top */

.header-top {
    border: 1px solid rgba(61, 93, 130, 0.1);
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}


.wrapper {
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 1220px;
    padding-right: 2.2rem;
    padding-left: 2.2rem;
    margin: 0 auto;
}

.header-top__title {
    font-size: 0.9rem;
}

.header-social .header-top__title {
    margin-right: 10px;
}

.header-social__item {
    height: 100%;
    font-weight: 700;
    margin-left: 10px;
    font-size: 0.9rem;
    color: var(--main-blue-color);
}

.header-social__item:not(:last-child)::after {
    content: '';
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    left: 5px;
    top: 6.5px;
    border-radius: 50%;
    border: 2px solid #FB5472;
    vertical-align: middle;
    margin: 10px 0.1rem 10px 0.3rem;
    
}

.social_link {
    display:inline-block;
    transform: translateY(2px);
}

.header-contact {

}


.header-contact .header-top__title {
    margin-right: 1.5rem;
}

.header-contact i {
    color: var(--main-pink-color);
    font-size: 1.2rem;
    margin-right: 0.4rem;
}

.header-contact a {
    color: var(--main-blue-color);
    line-height: 140%;
    font-weight: 700;
}

/* Header - Header nav */

.header-nav {
    max-width: 1840px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.nav-logo img {
    height: 3rem;
}

.nav-section {
    margin-right: 2.5rem;
}

.get-started-btn {
    height: 2.7rem;
    background: var(--main-blue-color);
    box-shadow: 0px 0.85rem 1.4rem rgb(27 43 124 / 15%);
    border-radius: 30px;
    color: #fff;
    border: 0;
    padding: 0 1.8rem;
    line-height: 2.7rem;
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;
    transition: background .4s ease;
}

.get-started-btn:hover {
    background-color: var(--main-pink-color);
    cursor: pointer;
}

/* Content */

.content {
    position: relative;
    width: 100%;
    min-width: 320px;
    z-index: 1;
    text-align: left;
    flex-grow: 1;
}

/* Content - Hero Section */

.hero-section {
    position: relative;
    padding-top: 7.5rem;
    background: url("https://my-space.space/numerio/img/main-bg.svg") 50% 0 no-repeat;
    background-size: auto 100%;
}

.socket {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: -14%;
    background-image: url("https://my-space.space/numerio/img/main.svg");
    background-size: cover;
    background-position: 50% 0;
}

.hero-content {
    padding: 5rem 0 19.5rem;
}

.hero__sub-heading {
    font-size: 0.9rem;
}

.hero__heading {
    font-size: 4.4rem;
    margin-bottom: 1.2rem;
}

.hero__introduction {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
}

.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 3.8rem;
    padding: 0 42px;
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.2;
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    box-shadow: 0px 20px 20px rgb(217 61 89 / 20%);
    background: linear-gradient(90deg, rgba(249, 73, 115, 0.991703) 0%, rgba(255, 154, 160, 0.991703) 50%, rgba(249, 73, 115, 0.991703) 100%);
    text-transform: uppercase;
    background-size: 200% 100%;
    background-position: 0% 0;
    text-transform: capitalize;
    border: 0;
    border-radius: 3rem;
    transition: all 0.3s linear;
    box-shadow: 0px 0.85rem 1.4rem rgb(230 51 94 / 25%);
}

.btn:hover {
    color: #fff;
    background-position: 100% 0;
}

/* Services  */
.services-section {
    margin-top: -6.5rem;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.3rem;
}

.services__item {
    position: relative;
    text-align: center;
    border-radius: 0.5rem;
    padding: 3rem 1.3rem 2.4rem;
    margin: 0 0.95rem 1.68rem;
    background-color: #fff;
    width: calc(25% - 2rem);
    overflow: hidden;
    box-shadow: 0px 0.56rem 1.46rem rgb(36 73 168 / 15%);
}

.services__decor {
    position: absolute;
    width: 80.15%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 3rem solid rgba(219, 223, 243, 0.3);
    background: #fff;
    left: 50%;
    top: 0;
    transform: translate(-50%, -46%);
    z-index: 0;
}

.services__icon {
    position: relative;
    height: 4rem;
}

.services__icon img {
}

.services__title {
    margin-top: 2.2rem;
    font-size: 1.35rem;
    color: var(--main-blue-color);
    text-transform: capitalize;
    font-weight: bold;
    font-family: Aleo, arial, sans-serif;

}

.services__text {
    position: relative;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #646A89;
    line-height: 170%;
    z-index: 1;
}

.services__item:nth-child(even) {
    transform: translateY(-3.88rem);
}

/* About History */

.history-section {
    margin-top: 6.25rem;
}

.about-img {
    width: calc(100% - 25.5rem);
    padding-right: 2.5rem;
    padding-left: 2%;
}

.history__video-section {
    display: flex;
    margin-top: 0.9rem;
}

.history__video-section:hover .history__video-button::before {
    width: 160%;
    height: 160%;
}

.history__video-button {
    position: relative;
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: linear-gradient(263.44deg, rgba(255, 154, 160, 0.991703) 0%, rgba(249, 73, 115, 0.991703) 100%);
    border-radius: 50%;
    box-shadow: 0px 1.5rem 2.5rem rgb(230 51 94 / 25%);
}

.history__video-button::before {
    content: '';
    position: absolute;
    width: 136.36%;
    height: 136.36%;
    background: linear-gradient(263.44deg, rgba(226, 94, 102, 0.991703) 0%, rgba(230, 51, 94, 0.991703) 100%);
    opacity: 0.15;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.history__video-button i {
    transform: translateX(6%);
}

.history__video-text {
    padding-left: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.history__video-title {
    margin-bottom: .17rem;
    color: var(--main-pink-color);
    line-height: 150%;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.history__video-description {
    font-size: 1rem;
    line-height: 170%;
    color: #646A89;
}

/* History Details */

.history-details {
    margin-top: 4.8rem;
    margin-bottom: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.history-detais__item {
    position: relative;
    width: 25%;
    padding: 0 0.85rem;
    margin-bottom: 1.69rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-detais__num {
    display: flex;
    font-size: 3.4rem;
    line-height: 110%;
    font-weight: 700;
    padding: 1.2rem 0 0.4rem;
    color: var(--main-blue-color)
}

.history-detais__num  span {
    font-size: 2rem;
    padding-left: 0.2rem;
    color: var(--main-pink-color);
}

.history-detais__text {
    position: relative;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.history-detais__decor {
    position: absolute;
    width: 9.4rem;
    height: 9.4rem;
    border-radius: 50%;
    left: 24%;
    top: -10%;
    z-index: -1;
    border: 2.6rem solid rgba(219, 223, 243, 0.3);
}

/* Get Section */

.get-section {
    margin-top: 7.75rem;
    margin-bottom: 7.75rem;
}